table.responsive-table th {
  display: none;
}

table.responsive-table tr {
  height: 100%;
}

table.responsive-table td {
  display: block;
}

table.responsive-table td:before {
  content: attr(data-col-title);
  display: inline-block;
  max-width: 50%;
  width: 100%;
}

@media (min-width: 500px) {
  table.responsive-table th,
  table.responsive-table td {
    display: table-cell;
  }

  table.responsive-table td:before {
    display: none;
  }
}
