table { 
	border-collapse: collapse;
 	text-align: left;
 	width: 100%;
	font: normal 12px/150% Arial, Helvetica, sans-serif;
 	background: #fff;
 	overflow: hidden;
 	border: 1px solid #006699;
	 -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 margin: 40px auto;
 }

table thead {
  display: block;
  height: 10px;
  width: 100%;
  background: #E1EEf4;
}

table td, table th { 
	padding: 3px 10px;
}
table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699;
 	color:#FFFFFF;
 	font-size: 15px;
 	font-weight: bold;
 	border-left: 1px solid #0070A8;
}
table thead th:first-child { 
	border: none;
}
table tbody td { 
	color: #00557F;
 	border-left: 1px solid #E1EEF4;font-size: 12px;
 	font-weight: normal;
}
table tbody tr:nth-child(even) { 
	background: #E1EEf4;
 	color: #00557F;
}

@media (min-width: 500px) {
  table thead {
    display: table-header-group;
  }
 }